<div class="container-fluid">
  <div class="col-md-6 col-lg-8">

    <form [formGroup]="inputForm">
      <div class="form-group">
        <label>Search For Cities</label>
        <input type="text" formControlName="input" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.input.errors }"/>
        <div *ngIf="inputForm.get('input').errors  && this.submitted">  
            <!-- <div *ngIf="inputForm.get('input').hasError('required')">  
              <span style="color: red;">*input required.</span>  
            </div>   -->
            <div *ngIf="inputForm.get('input').hasError('pattern')">  
             <span style="color: red;">*Please provide the valid input / input required</span>  
            </div>  
           </div>  
      </div>
    </form>
        <div class="form-group" >
          <button type="submit" class="btn btn-primary btn-lg" (click)="onSubmit();">Search</button>
        </div>
  </div>
  <div class="col-lg-12 col-lg-8 col-md-6" [hidden]="!this.submitted">
    <div class="progress-loader" [hidden]="!isLoading">

      <mat-progress-spinner style="margin:0 auto;" [mode]="'indeterminate'">
      </mat-progress-spinner>

    </div>
    <div class="text">
      Total Number of cities : {{total}} 
    </div><br>

    <!-- <table class="table table-hover table-striped"  *ngFor="let item of cities">
        <tr><td>State</td>{{item.state}}</tr>
        <tr><td>City</td>{{item.city}}</tr>
   </table> -->


    <table class="table table-striped">
      <thead>
        <tr>
          <th>State</th>
          <th>City</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cities; index as i">
          <td>{{item.state}}</td>
          <td>{{item.city}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>