<div class="container-fluid">
    <div class="col-md-6 col-lg-8">
        <form [formGroup]="inputForm" >
                <div class="form-group">
                        <label>Search</label>
                        <input type="text" formControlName="input" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.input.errors }" />

                    </div>
                    <div class="form-group">
                            <button type="submit" class="btn btn-primary" (click)="onSubmit()">Search</button>
                     </div>
        </form>


    </div><br>

     <div class="col-lg-12 col-lg-8 col-md-6">
  <table class="table table-striped">
    <thead>
      <tr>
        <!-- <th>ID</th> -->
        <th>State</th>
        <th>City</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cities">
        <td>{{item.city}}</td>
        <td>{{item.state}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
